<hr>
<div id="p{{.Id}}" class="post">
	<span class="titlebar">
		<span class="subject">{{.Subject}}</span>
		&thinsp;
		<span class="author">{{.Name}}</span>
		<time class="posttime">{{.Time}}</time>
		<a href="{{.ParentId}}#p{{.Id}}"><span class="id">{{printf "%d" .Id}}</span></a>
	</span>
	<br>
	{{ if .Url }}
	{{ if isImg .Url }}
	<a href="{{.Url}}">
		<img src="{{.Url}}">
	</a>
	{{ else if isVid .Url }}
	<video controls>
		<source src="{{.Url}}">
	</video>
	{{ end }}
	{{ end }}
	<div class="postcontent">{{.Content}}<br>
	</div>
</div>
